
{% load twitter_tags i18n friendly_data_formatting %}

{% tweets_for_user "agoodcloud" 5 as tweets %}

{% if tweets %}
<h3 class="side_header recent_tweets_header">{% trans "Recent Tweets" %}</h3>
<ul class="tweets">
    {% for tweet in tweets %}
    <li>

 		<div class="tweet_author">
        {% if tweet.is_retweet %}
        <div class="retweet_icon"></div>
        {% endif %}
        <a href="http://twitter.com/{{ tweet.user_name }}">
         	{# <img src="{{ tweet.profile_image_url }}"> #}
			{% ifnotequal tweet.user_name tweet.full_name %}<span class="name">{{ tweet.full_name }}</span>{% endifnotequal %}
           </a>
        {# <img class="retweet" src="{{ tweet.retweeter_profile_image_url }}"> #}
		<span class="timespan">
            {{ tweet.created_at|pretty_timesince }}
        </span>
		</div>

        <div class="tweet_body">{{ tweet.text|safe }}</div>

        
    </li>
    {% endfor %}
</ul>
{% endif %}
