mercurial==1.8.4
#psycopg2
python-dateutil==1.5

PIL==1.1.7
python-memcached==1.47
gunicorn==0.12.2
#django-cms >= 2.1.3
#django-tinymce
pyparsing==1.5.5
django-xmlrpc==0.1.3
akismet==0.2.0
BeautifulSoup==3.2.0
# -e git://github.com/skoczen/django-form-designer.git#egg=form_designer
-e git://github.com/GoodCloud/django-ajax-uploader.git@4d8bb95833e976af126e84c5718c2a64d9700266#egg=ajaxuploader-dev

django-extensions==0.6
-e git://github.com/skoczen/qi-toolkit.git@2008eccd9ba3787f0fa9aa7975ff5e1f2c10ea12#egg=qi_toolkit-dev
python-crontab==0.9.6
django-analytical==0.8.1

django-pagination==1.0.7
sorl-thumbnail==11.05.2
tagging==0.2.1
lorem-ipsum-generator==0.3
nose==1.0.0
ipython==0.10.2
django-nose==0.1.3
nose-exclude==0.1.5
django-nose-selenium==0.7
-e git://github.com/Almad/django-sane-testing.git@e2bf9652ee27222936a013445f31564bc90818c4#egg=djangosanetesting-dev
celery==2.2.6
django-celery==2.2.4
-e git://github.com/kmmbvnr/django-jenkins.git@e5031e9254e172aff1dee1e92b5e2609235612f9#egg=django_jenkins-dev
coverage==3.5b1
-e git://github.com/skoczen/nose-xcover.git@cccc0e83ce2ed117903768587177a937c144e152#egg=nosexcover-dev

django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
boto==2.0rc1
django-ses==0.2
#django-storages
django-mediasync==2.1.0
slimmer==0.1.30

django-debug-toolbar==0.8.5
django-picklefield==0.1.9
-e git://github.com/tkaemming/django-subdomains.git#egg=django-subdomains==1.1.1
johnny-cache==0.3.1
django-balancer==0.3
django-sentry==1.8.5
redis==2.2.4
xlwt==0.7.2
xlrd==0.7.1
xlutils==1.4.1
# mezzanine
# django-grappelli
# django-filebrowser## The following requirements were added by pip --freeze:
CherryPy==3.2.0
Django==1.3
Fabric==1.0.1
GitPython
MySQL-python==1.2.3
South==0.7.3
amqplib==0.6.1
anyjson==0.3.1
async==0.6.1
django-indexer==0.3.0
django-paging==0.2.4
-e hg+https://bitbucket.org/david/django-storages@b85568a98f57e71573d0dd0bf403c0b33859dac4#egg=django_storages-dev
django-templatetag-sugar==0.1
errorhandler==1.1.1
gitdb==0.5.2
kombu==1.1.3
logilab-astng==0.21.1
logilab-common==0.55.2
paramiko==1.7.7.1
pycrypto==2.3
pylint==0.23.0
unittest2==0.5.1
wsgiref==0.1.2
