{% extends "marketing_site/newsletter/base.html" %}
{% load i18n  %}

{% block newsletter_body %}
<div class="newsletter_issue">
	<div class="newsletter_nav">
		<div class="previous_issue issue_nav_link"><a href="#" >August 2011</a></div>
		<div class="next_issue issue_nav_link"><a href="#"  >October 2011</a></div>
	</div>
	<div class="newsletter_title">The Good Times</div>
	<div class="current_issue">September 2011</div>
	<div class="headliner_article">
		<div class="article_title">Don't Let Your Knowledge Leave Because of Nonprofit Turnover</div>
		<div class="article_teaser">
		<p>Earlier this month, the Meyer Foundation and CompassPoint released a study showing that two-thirds of the nonprofit Executive Directors they surveyed were planning on leaving their current job within five years.  Among the reasons that leaders cited for leaving were financial problems, under-performing boards, and a burdensome time commitment.  </p>

		<p>Those reasons aren't exactly eye-opening revelations for most that have experience in the nonprofit world.  Still, that 67% number is significant.  Turnover is a major issue that all organizations have to overcome, but its effect seems to be amplified for nonprofits, especially those with small staff size and limited resources.</p>
		<a href="#">Read the full article</a>
		</div>
	</div>
	<div class="newsletter_columns">
	<div class="column_1">
		<div class="article_title">Remember conversations, birthdays, and more with the new GoodCloud release!</div>
		<div class="article_teaser">
			<p>One of the biggest problems facing small non-profits is turnover. Since we're building GoodCloud to help small nonprofits succeed, it was critical that we take the problem on. </p>

			<p>Turnover's biggest loss can be the relationships - that personal knowledge of donors, volunteers, and participants that leave with a former employee. This month, we released the start of a way to keep that information, even when turnover happens. We call it conversations.</p>

			<a href="#">Read the full article</a>
		</div>

		<div class="article_title">Google+ is a new social network. What's it mean for nonprofits?</div>
			<div class="article_teaser">
			<p>There's a new kid on the social media block, and it goes by the name of Google.  Google+, the search powerhouse's latest (and best) attempt to take on the social space has launched, and is now in the hands of a few folks with "field trial" accounts. (Full disclosure - I'm one of them) But, what in the name of tweeting, liking, and +1ing does this actually mean for nonprofits?  Let's take a look.</p>


			<p>First and foremost, there's no way yet to add your nonprofit to Google+.  Right now, they're focused on building it out for individuals, and have stated that businesses and other "non-human entities" are definitely on the way. </p>
			<a href="#">Read the full article</a>
		</div>
	</div>
	<div class="column_2">
		<div class="article_title">Summer means grilling. Here's our favorite recipe for burgers.</div>
		<div class="article_teaser">
			<p>Bar-b-qued burgers are a staple of summer, even for vegetarians. Tom (carnivore) and Steven (vegetarian) take on the best burger recipe for summer, and the results may surprise you!  See the results, and the competing recipes in the full article.</p>

			<a href="#">Read the full article</a>
		</div>


		<div class="article_title">Nonprofit News Round-up</div>
		<div class="article_teaser">
			<p>Since we serve exclusively nonprofits, we've got a great pulse on what's happening around the community.  Here's the latest!</p>

			<p>Tom content here</p>
			<a href="#">Read the full article</a>
		</div>
	</div>	
	</div>
</div>	
{% endblock %}