{% load i18n cache current_page  %}<div id="footer">
<table class="footer_table">
<tr>
	<td>
		<a href="{% url marketing_site:about_us %}" class="top_link" >About Us</a>
		<a href="{% url marketing_site:about_us %}#section=our_company">Our Company</a>
		<a href="{% url marketing_site:about_us %}#section=our_mission">Our Mission</a>
		<a href="{% url marketing_site:about_us %}#section=our_team">Our Team</a>
	</td>
	<td>
		<a href="{% url marketing_site:features %}" class="top_link" >Features</a>
		<a href="{% url marketing_site:features %}#section=everything_in_one_place">Full CRM for Nonprofits</a>
		<a href="{% url marketing_site:features %}#section=know_your_people">Know every person</a>
		<a href="{% url marketing_site:features %}#section=save_money">Save your money</a>
		<a href="{% url marketing_site:features %}#section=less_computer_time">Save your time</a>
		<a href="{% url marketing_site:features %}#section=keeps_improving">Cloud-based</a>
		<a href="{% url marketing_site:features %}#section=secure">Secure</a>
	</td>
	<td>
		<a href="{% url marketing_site:tour %}" class="top_link" >Tour</a>
		<a href="{% url marketing_site:tour %}">Video Tour</a>
		<a href="{% url marketing_site:screenshots %}">Screenshots</a>
	</td>
	<td>
		<a href="{% url marketing_site:legal %}" class="top_link" >Legal</a>
		<a href="{% url marketing_site:legal %}#section=user_agreement">User Agreement</a>
		<a href="{% url marketing_site:legal %}#section=privacy_policy">Privacy Policy</a>
		<a href="{% url marketing_site:legal %}#section=copyright">Copyright</a>
	</td>
	<td>
		<a href="{% url marketing_site:contact_us %}" class="top_link" >Contact Us</a>
		<a href="#" class="contact_button online">Online Support</a>
		<a href="{% url marketing_site:contact_us %}">Send an Email</a>
		<a href="{% url marketing_site:contact_us %}">Phone Call</a>
		<a href="http://www.facebook.com/AGoodCloud" target="_blank">Facebook</a>
		<a href="http://www.twitter.com/agoodcloud" target="_blank">Twitter</a>
		<a href="{% url blog %}">Blog</a>
	</td>

</tr>
</table>

</div>