{% load i18n cache current_page %}
{% block nav %}
<div id="nav_and_logo_container">
	<a id="logo" href="{% url marketing_site:home %}" class="png_bg">
		
	</a>
<div id="main_nav">{% spaceless %}
{# 	<a {% current_page_link_and_class request "marketing_site:home" "" %} >Home</a> #}
<a {% current_page_link_and_class request "marketing_site:about_us" "" %} >Our Mission</a>
	<a {% current_page_link_and_class request "marketing_site:features" "" %} >Features</a>
	<a {% current_page_link_and_class request "marketing_site:tour" "" %} >Tour</a>
	<a {% current_page_link_and_class request "marketing_site:pricing" "" %} >Pricing</a>
	<a {% current_page_link_and_class request "marketing_site:newsletter" "" %} >The Good Times</a> 
	<a {% current_page_link_and_class request "blog" "" %} >Blog</a> 

	<a {% current_page_link_and_class request "signup" "" %} >Sign Up</a>
	
{% endspaceless %}</div>
</div>
{% endblock %}