{% extends "marketing_site/base.html" %}
{% load i18n  %}
{% block meta_title %}About us: who we are, why we're passionate about nonprofits.{% endblock %}
{% block description %}Small nonprofits deserve the best software in the world. We're on a mission to give it to them.{% endblock %}
{% block extra_body %}class="about_us"{% endblock %}

{% block page_header %}Do Good Things.{% endblock %}

{% block page_content %}
<div id="section" class="tabs">
	<ul class="nav_links png_bg">
	 	<li><a href="#our_company">Our Company</a></li>
	 	<li><a href="#our_mission">Our Mission</a></li>
	 	<li><a href="#our_team">Our Team</a></li>
 	</ul>
	<div class="tab_content company" id="our_company">

		<div class="page_top_hook">We started GoodCloud to create the sort of company we'd be inspired by and hope to work for. So, we do things a bit differently.</div>

		<div class="tab_subheading">We share our profits with the organizations we serve.</div>
		<p>Each year, we set financial targets, goals to grow and sustain GoodCloud. When we hit those targets, the organizations that got us there share in our profits.</p>

		<div class="tab_subheading">We volunteer.</div>
		<p>Maybe even at your organization! GoodCloud employees are required to volunteer at one full day's time each month with nonprofits, and that time is paid. Want to see if we've been slacking? See our <a href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0AtDfuCG0bl8rdEdia2NzZk1uSW1ZTmxzaVRORVhaTWc&output=html" target="_blank">volunteer hours log</a>!</p>

		<div class="tab_subheading">We donate.</div>
		<p>GoodCloud employees also recieve stipends to donate to the nonprofits they love.</p><br/>

		<p>We're committed to directly supporting nonprofits both with our work, and with our lives out in our own communities. We believe that each of us is responsible for sustaining and growing the communities we want to live in, and we're proud that GoodCloud helps in those goals.</p>


	</div>
	 	
	<div class="tab_content mission" id="our_mission">
		{# <div class="tab_title">Our Mission</div> #}

		<div class="page_top_hook">Small nonprofits deserve the best software in the world.</div>

		<p>There, we said it. Not hand-me-downs, not corporate products that don't fit, but a real solution designed around your needs and how you work.
		Big nonprofits and companies can afford expensive solutions or a tech staff.  But small nonprofits have always gotten the short straw - until now.</p><br/>
		
		
		 <p>We started GoodCloud after watching our favorite nonprofits struggle with a hodge-podge of programs. We saw daily frustrations, and listened to organizations that were pouring hours into fighting with computers instead of their missions. We said, "Enough with that!", and we started GoodCloud to fix it.</p>

		<div class="tab_subheading">We <span class="heart_red">&hearts;</span> small nonprofits.</div>
		<p>We care deeply about you and your mission. You've made the decision to make the world a better place instead of making piles of money. We admire you. Nonprofits are doing the biggest things to make the world a better place. We're thankful to have you in the world, and we want to help you thrive.</p>

		<div class="tab_subheading">We get small nonprofits.</div>
		<p>You're different. You're not a corporation. You're not a club. You're not a small business. We get that. Nobody else has to file Form 990's. Nobody else has to track volunteer hours. Nonprofits are unique, living organizations with different needs and ways of working.  We're building software just for you.</p>

		<div class="tab_subheading">We only serve small nonprofits.</div>
		<p>We're building you the best software in the world. But the cool part is, it's just for you.  You can't use GoodCloud unless you're a nonprofit.  Run a big company, and want our cool people-tracking software? Tough.  GoodCloud isn't the side project of a giant software maker, it's a small and nimble company that works exclusively with small nonprofits.  We like it that way, and we think you will too.</p>
	</div>
				


	<div class="tab_content team" id="our_team">
		<div class="page_top_hook team_description">A couple of friendly faces.</div>
		<div class="people_pics_and_bios">
		<div class="person tom png_bg">
			<div class="person_name">Tom Noble</div>
			<div class="title">Co-Founder, Relationship-builder.</div>
			<div class="contact_info">
				{# <span class="bio"><a href="#" class="bio_link">Bio</a></span> #}
				<span class="blog"><a href="http://goodcloud.posterous.com/tag/tom">Blog</a></span>
				<span class="email"><a href="mailto:tom@agoodcloud.com">Email</a></span>
				<span class="twitter"><a href="http://www.twitter.com/noble_tom">Twitter</a></span>
			</div>
			<div class="person_description">
				<div class="bio_text">
					<p>Tom has worked with nonprofit organizations of all sizes and functions in many different capacities:  as a managing director, mentor, project manager, volunteer, advisory board member, and consultant.  He’s still actively working with <a href="http://www.teachforamerica.org" target="_blank">Teach for America</a> after having served as a Corps Member and middle school teacher in Phoenix, AZ.</p>

					<p>Originally from Upstate New York and a graduate of Cornell University, Tom also has a Master’s in Education from Arizona State University, and is currently working on his MBA. Tom is a huge basketball fan and loves to cook.</p>
				</div>
			</div>
		</div>

		<div class="person steven png_bg">
			<div class="person_name">Steven Skoczen</div>
			<div class="title">Co-Founder, Software-maker.</div>
			<div class="contact_info">
				{# <span class="bio"><a href="#" class="bio_link">Bio</a></span> #}
				<span class="blog"><a href="http://goodcloud.posterous.com/tag/steven">Blog</a></span>
				<span class="email"><a href="mailto:steven@agoodcloud.com">Email</a></span>
				<span class="twitter"><a href="http://www.twitter.com/skoczen">Twitter</a></span>
			</div>
			<div class="person_description">
				<div class="bio_text">
					<p>Steven started building web applications back in the 90's, and hasn't stopped since. He's run a <a href="http://www.quantumimagery.com" target="_blank">successful web development company</a>, and started <a href="http://www.sixlinks.org" target="_blank">SixLinks.org</a> and <a href="http://www.fluidtask.com" target="_blank">Fluidtask</a>.  Over the years, he's also thrown his development behind a number of other organizations on a pro-bono basis. </p>

					<p>When not typing into a glowing white screen, he facilitates writing workshops for <a href="http://www.writearound.org" target="_blank">Write Around Portland</a>, spends time in his studio, or finds some space in the nearby Oregon woods for he and Tomo, the world's greatest dog.</p>
				</div>
			</div>
		</div>
		</div>

		<div class="team_description">
		GoodCloud is currently a team of two people. We're the ones who answer your calls, add new features, and talk with you about your needs.  Sounds a lot better than a call center halfway across the world, doesn't it? 
		</div>

	</div>
	
</div>
{% endblock %}