{% extends "base.html" %}
{% block css %}{{block.super}}
{% css "css/marketing_base.css" %}
{# 1140 #}
<!--[if lte IE 9]>{% css "/css/contrib/1140/ie.css" %}<![endif]-->
{% endblock %}
{% block base_js %}{% js "js/marketing_base.js" %}{% endblock %}
{% block javascript %}{{block.super}}
{% js "js/lib/preloadCssImages.jQuery.mycelium.js" %}
{% js "js/marketing_core.js" %}
{% endblock %}
{% block content %}
	{% include "marketing_site/_top_nav.html" %}
	<div id="wrap">
	<div class="page_header">{% block page_header %}{% endblock %}</div>

	<div class="page_content_body">
	{% block page_content %}
	{% endblock %}
	<div class="clearfix"></div>
	{% include "marketing_site/_footer.html" %}	
	</div>
	
	</div>
	
	<script type="text/javascript">
	  (function() {
	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/AwQUXURGT97r7ts4zvEIaA.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	  })();
	</script>
{% endblock %}
