{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}Contact us via phone, email, or right here on the website: GoodCloud{% endblock %}
{% block description %}Sometimes, you just need to talk to someone - we're available to support the organizations we serve.{% endblock %}
{% block extra_body %}class="contact_us"{% endblock %}

{% block page_header %}Say Hello!{% endblock %}

{% block page_content %}
<div class="page_subheader">We're here to help.  You can reach us any of the following ways:</div>
<div class="contact_methods">
<div class="container">
<div class="row">
	<a class="fourcol contact_button email" href="mailto:support@agoodcloud.com">
		<div class="type png_bg">Email</div>
		<div class="details identical_height_block">Send an email to support@agoodcloud.org</div>
	</a>
	<a class="fourcol contact_button online" href="#">
		<div class="type png_bg">Online</div>
		<div class="details identical_height_block">Send us a question or idea right from the website</div>
	</a>
	<div class="fourcol contact_button phone">
		<div class="type png_bg">Phone</div>
		<div class="details identical_height_block">Give us a call at (503) 308-1460</div>
	</div>
</div>
</div>
</div>

{% endblock %}