{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}Membership management features that small nonprofits actually need.{% endblock %}
{% block description %}We built GoodCloud collaboratively with small nonprofits, to do the things you do every day. Contact, volunteer, and donor tracking - it's all here.{% endblock %}


{% block page_header %}All the things you actually need.{% endblock %}

{% block page_content %}
<div id="section" class="tabs features">
	<ul class="nav_links png_bg">
	 	<li><a href="#everything_in_one_place">Everything in one place</a></li>
	 	<li><a href="#know_your_people">Know your people</a></li>
	 	<li><a href="#save_money">Save money</a></li>
	 	<li><a href="#less_computer_time">Less computer-time</a></li>
	 	<li><a href="#keeps_improving">Keeps getting better</a></li>
	 	<li><a href="#secure">Safe and secure</a></li>
 	</ul>

	<div class="tab_content company" id="everything_in_one_place">
		<div class="page_top_hook">Contacts, Donations, and Volunteers, all in one place.</div>
		<div class="row">
				
				<div class="centered_block"><img src="{% media_url "images/marketing-headache_vs_simple.png" %}" /></div>

				<p>Many small nonprofits have their information scattered across a number of systems: there's the contacts program, the volunteer log, the donors program, and the various lists of participants, major donors, and the people who are coming to Thursday's event.  </p>

				<p>Wouldn't it be nice if there was one place for all that information? Now, there is.</p>

				<p>With GoodCloud, all of your nonprofit's core information has one home, accessible from anywhere. Even better, the information is actually <i>connected</i>. If you've ever wondered how many of your volunteers are also donors, you can now have that answer. </p>

				<p>If you've ever struggled with who has the latest version of a volunteer list, you can leave that headache behind. With GoodCloud, all of your lists are kept up to date in real-time.  We don't like headaches. We figure you don't either.</p>

		</div>
	</div>
	<div class="tab_content company" id="know_your_people">
		<div class="page_top_hook">Never forget a birthday. Or a conversation.</div>
		<p>Goodcloud makes it easy for you to know each of your people. People like:</p>

		<div id="example_people" class="tabs">
			<div class="example_people_navigation">
			<ul>
				<li><a href="#john" class="example_person_link john"><div class="name">John</div><div class="role">Donor</div></a></li>
				<li><a href="#cindy" class="example_person_link cindy"><div class="name">Cindy</div><div class="role">Volunteer</div></a></li>
				<li><a href="#will" class="example_person_link will"><div class="name">Will</div><div class="role">Participant</div></a></li>
			</ul>
			</div>
			<div class="person_detail" id="john">
				<div class="name_and_role">
					<div class="name">John</div>
					<div class="role">Financial Advisor</div>
				</div>
				<div class="details">
					<ul>
						<li>John has given 6 times in the past year, totalling $8,150.</li>
						<li>Sara, our development director talked to John on April 14th about our upcoming fundraiser.  John was interested in making a donation. He also just moved into a new house.</li>
						<li>His twitter feed is @johnsmith, and he’s been writing recently about his son's football team.</li>
						<li>Sara has a follow-up call scheduled for July 21.</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="cindy">
				<div class="name_and_role">
					<div class="name">Cindy</div>
					<div class="role">Photographer</div>
				</div>
				<div class="details">
					<ul>
						<li>Cindy has been trained to work with youth and seniors.</li>
						<li>She’s a part of the first Tuesdays volunteer group.</li>
						<li>She’s donated once per year for the last four years.</li>
						<li>She’s available Tuesdays, Thursdays, and Sundays.</li>
						<li>She turns 50 on September 28th.</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="will">
				<div class="name_and_role">
					<div class="name">Will</div>
					<div class="role">Waiter</div>
				</div>
				<div class="details">
					<ul>
						<li>Will has been involved with our organization for two years.</li>
						<li>He participated in the Spring 2011 and Fall 2011 sessions.</li>
						<li>Will has been a group leader.</li>
						<li>Will is interested in the Spring 2012 session.</li>
						<li>Will made a $30 donation after the Spring 2011 session.</li>
					</ul>
				</div>
			</div>
			
		</div>
		

		<p>Nonprofit staff are simply amazing at remembering people, faces, and interactions.  But wouldn't it be nice to not have to ask the development director about the last call before sending an email? </p>

		<p>With GoodCloud, it's easy to record the interactions you have with all the people your organizations touches. When the phone rings, you can be on the same page in a matter of seconds.</p>

	</div>
	<div class="tab_content company" id="save_money">
		<div class="page_top_hook">Costs less than the competitors.</div>
		

			<div class="feature groups">
				<div class="title">No lock-in.</div>
				<div class="description png_bg identical_height_block">
					<p>GoodCloud is a monthly subscription. No set-up fees, no cancellation fees, no lock-in.  We've also made it easy to get your data in and out.</p>
					Our thinking is simple - we want to provide the best solution for small nonprofits, at the lowest cost. If we're not the best and cheapest, we hope you go somewhere else.
				</div>
			</div>


			<div class="feature cloud">
				<div class="title">No more servers.</div>
				<div class="description png_bg identical_height_block">The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of the costs and time of managing the servers - and leave you time and money to focus on your mission.</div>
			</div>

			<div class="feature donations">
				<div class="title">Priced around actual small nonprofit budgets.</div>
				<div class="description png_bg identical_height_block">When we started GoodCloud, we interviewed small nonprofits to see what they were paying for their software needs. Then we took the smallest number we heard, and cut it in half. We believe that small nonprofits should have access to great software at a price they can afford.</div>
			</div>
	</div>

	<div class="tab_content company" id="less_computer_time">
		<div class="page_top_hook">Every minute at the computer is a minute away from your mission. Spend fewer of them.</div>

			<div class="feature find_fast">
				<div class="title">Find people fast.</div>
				<div class="description png_bg identical_height_block">
					<p>We've got the fastest, easiest contact lookup on this side of the galaxy. Nonprofits told us that looking up a phone number, email or address is something they do hundreds of times a day. We optimized GoodCloud to make finding a contact super-fast.</p>
				</div>
			</div>


			<div class="feature glasses">
				<div class="title">Get away from the screen.</div>
				<div class="description png_bg identical_height_block">
					<p>Unless your mission involves computers, chances are you'd rather not be staring at one.</p>
		
					<p>One of our core goals in designing GoodCloud was to make the processes nonprofits do dozens of times a day really fast. Things like looking up an address or email, or printing a mailing label.  We've made it as quick and simple as possible to common tasks, so you can get in, get the information you need, and get on with your day.</p>
				</div>
			</div>

		


	</div>
	<div class="tab_content company" id="keeps_improving">
		
		<div class="page_top_hook">Software that gets better with time - for free.</div>

			<div class="feature more_to_come">
				<div class="title">We're not done yet.</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>

			<div class="feature data_import">
				<div class="title">Free upgrades.</div>
				<div class="description png_bg identical_height_block">
				<p>One of the big advantages of cloud-based software is that we can upgrade GoodCloud and you get the new features instantly.  We believe that ongoing improvements are a part of what makes great software, and we're committed to delivering those upgrades to our customers, free of charge.  </p>

				<p>If this sounds different than yearly upgrade fees, downloads, and installations, it is. <a href="{% url marketing_site:about_us  %}">We do things a bit differently here</a>, and we think you'll love it.</p></div>
			</div>


	</div>
	<div class="tab_content company" id="secure">
		
		<div class="page_top_hook">Secure access, constant backups.</div>

			<div class="feature keychain">
				<div class="title">Secure.</div>
				<div class="description png_bg identical_height_block">
				<p>The page you're looking at right now? It's secure.  Just like every page in GoodCloud. We've made the security and integrity of your data one of our key concerns, and you can rest well knowing you're in good hands. </p>

				<p>All customer data is hosted in <a href="http://aws.amazon.com/security/" target="_blank">PCI DSS Level 1 datacenters</a>, and industry-standard practices are used throughout GoodCloud to ensure that your data is safe and secure.</p>
				</div>
			</div>

			
			<div class="feature shield">
				<div class="title">We even backup the backups.</div>
				<div class="description png_bg identical_height_block">
					<p>We maintain constant backups of everything in GoodCloud, 24/7.  That includes multiple secure offsite backups, ready for a worst-case scenario.  When it comes to keeping your data safe, we don't take any chances, or cut any corners.</p>
				</div>
			</div>


	</div>		
</div>

<a href="{% url accounts:signup %}" class="page_action png_bg">Try GoodCloud for Free!</a>
<div class="clearfix"></div>

{% endblock %}