{% extends "marketing_site/base.html" %}
{% load i18n  %}
{% block meta_title %}The legal formalities, as human as we could make them: GoodCloud{% endblock %}
{% block description %}Our user agreement and privacy policy, put as friendly as we could make them.{% endblock %}

{% block page_header %}The Legal Stuff<div class="subheading">(as human as we could make it)</div>{% endblock %}

{% block page_content %}

<div id="section" class="tabs legal">
	<ul class="nav_links">
	 	<li><a href="#user_agreement">User Agreement</a></li>
	 	<li><a href="#privacy_policy">Privacy Policy</a></li>
	 	<li><a href="#copyright">Copyright</a></li>
 	</ul>
	<div class="tab_content" id="user_agreement">
		<div class="tab_title">User Agreement</div>

		<p>This document (the "User Agreement") is a legally binding agreement between you and GoodCloud LLC ("GoodCloud″) that governs your use of GoodCloud’s online services.</p>

		<h3>Contract Formation</h3>

		<p>By using the www.agoodcloud.com web site ("Service"), or any services of GoodCloud, you are agreeing to be bound by the following terms and conditions ("User Agreement").
		Changes to the User Agreement</p>

		<p>GoodCloud reserves the right to update and change the User Agreement from time to time at its sole discretion.  We will notify you about significant changes to the User Agreement by sending a notice to the email address specified in your GoodCloud primary account holder account or by placing a prominent notice on our site or blog.</p>

		<p>Any new features or tools which are added to the current Service shall be also subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.</p>
		<p>You can review the most current version of the User Agreement at any time at: http://www.agoodcloud.com/legal. GoodCloud reserves the right to update and change the User Agreement by posting updates and changes to the Service website. You are advised to check the Terms of Service from time to time for any updates or changes that may impact you.</p>


		<h3>Violation</h3>

		<p>Violation of any of the terms below will result in the termination of your Account. You agree to use the Service at your own risk.</p>

		<h3>Account Terms</h3>
		<ul>
		<li>You must be 18 years or older to use this Service.</li>
		<li>You must provide your full name, a valid email address, and any other information requested in order to complete the signup process.</li>
		<li>You are responsible for keeping your password secure. GoodCloud cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.</li>
		<li>You are responsible for all activity and Content (data, graphics, photos, links) that is uploaded under your Service account.</li>
		<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
		<li>You may not use the Service for any illegal or unauthorized purpose.</li>
		<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by GoodCloud.</li>
		<li>A breach or violation of any of the Account Terms as determined in the sole discretion of GoodCloud will result in an immediate termination of your services.</li>
		</ul>

		<h3>General Conditions</h3>

		<p>You must read, agree with and accept all of the terms and conditions contained in this User Agreement before you may become a member of the Service.</p>
		<ul>
		<li>We reserve the right to modify or terminate the Service for any reason, without notice at any time.</li>
		<li>We reserve the right to refuse service to anyone for any reason at any time.</li>
		<li>Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as available" basis without any warranty or condition, express, implied or statutory.</li>
		<li>GoodCloud does not warrant that the Service will be uninterrupted, timely, secure, or error-free.</li>
		<li>GoodCloud does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</li>
		<li>Technical support is only provided to paying account holders.</li>
		<li>You understand that GoodCloud uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
		<li>You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit Card information is always encrypted during transfer over networks..</li>
		<li>You retain ownership over all content that you submit to your Service account, however, if you choose to make information public, you agree to allow others to view your content.</li>
		<li>GoodCloud does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
		<li>You expressly understand and agree that in no event shall GoodCloud, its affiliates, officers, directors and employees be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of revenues, use, data or other intangible losses (even if GoodCloud has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
		<li>The failure of GoodCloud to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and GoodCloud and govern your use of the Service, superceding any prior agreements between you and GoodCloud (including, but not limited to, any prior versions of the Terms of Service).</li>
		<li>GoodCloud reserves the right to assign this User Agreement or any part thereof without restrictions.</li>
		<li>Questions about the Terms of Service should be sent to support email support@agoodcloud.com.</li>
		</ul>

		<h3>Modifications to the Service and Prices</h3>
		<ul>
		<li>GoodCloud reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
		<li>Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Service site (www.agoodcloud.com) or the Service itself.</li>
		<li>GoodCloud shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
		</ul>

		<h3>Payment of Fees, Refunds, Upgrading and Downgrading</h3>

		<ul>
		<li>The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account.</li>
		<li>An upgrade from the free trial plan to the paid plan will bill you at the completion of the trial free trial period.</li>
		<li>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.</li>
		<li>Canceling your Service will result in the immediate and irrevocable deletion of your Content.</li>
		</ul>

		<h3>Cancellation and Termination</h3>
		<ul>
		<li>Verbal, physical, written or other abuse (including threats of abuse) of any GoodCloud customer, employee, member, or officer will result in immediate account termination.</li>
		<li>You are solely responsible for properly canceling your account. You can cancel your account at any time by calling or emailing us.  A GoodCloud employee will verify your clicking on the Admin link in the global navigation bar at the top of the screen. The Admin screen provides a cancellation link. An email or phone request to cancel your account is not considered cancellation.</li>
		<li>Your cancellation will take effect immediately and you will not be charged again. However, no refunds will be issued for any previous charges, in whole or in part.</li>
		<li>All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.</li>
		<li>We reserve the right to modify or terminate your Service for any reason, without notice at any time.</li>
		</ul>


		<h3>Entire Agreement</h3>

		<p>This User Agreement constitutes all the terms and conditions agreed upon between you and GoodCloud and supercedes any prior agreements, whether written or oral. Any additional or different terms or conditions in any written or oral communication from you to GoodCloud are void. You agree and accept that you have not accepted the terms and conditions of this User Agreement in reliance of or to any oral or written representations made by GoodCloud not contained in this User Agreement.</p>

		<h3>Severability</h3>

		<p>Should for any reason or to any extent any provision of this User Agreement be held invalid or unenforceable, such invalidity or enforceability shall not in any manner affect or render invalid or unenforceable the remaining provisions of this User Agreement and the application of that provision shall be enforced to the extent permitted by law.</p>

		<h3>Governing Law and Disputes</h3>

		<p>This User Agreement shall be governed and construed in accordance with the substantive laws of the United States of America. Any dispute, controversy or claim arising out of or in connection with this User Agreement will be subject to the jurisdiction of the courts of the United States of America, Oregon Circuit Court being the court of first instance.
		GoodCloud LLC Mailing Address</p>

		<p>GoodCloud LLC<br/>
		1434 NE 57th Ave<br/>
		Portland, OR 97213</br>
		</p>

	</div>

	<div class="tab_content" id="privacy_policy">
		<div class="tab_title">Privacy Policy</div>

		<p>GoodCloud LLC ("GoodCloud", "we" or "us") collects (a) the e-mail addresses of those who communicate with us via e-mail, (b) aggregate information concerning what pages consumers and/or users access or visit, and (c) information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:
		<ul>
		<li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</li>
		<li>We transfer information about you if GoodCloud is acquired by or merged with another company. In this event, GoodCloud will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
		<li>We provide such information to trusted businesses or persons for the sole purpose of processing personally identifying information on our behalf. When this is done, it is subject to agreements that oblige those parties to process such information only on our instructions and in compliance with this Privacy Policy and appropriate confidentiality and security measures.</li>
		<li>We provide such information to third parties who have entered into non-disclosure agreements with us.</li>
		<li>We provide such information to a company controlled by, or under common control with, GoodCloud for any purpose permitted by this Privacy Policy.</li>
		</ul>

		<h3>Information Gathering and Usage</h3>

		<p>When you register for GoodCloud we ask for information such as your email address. Depending on the service, we may also ask for your name, organization name, billing address and payment information.</p>
		<p>GoodCloud uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact, and research.</p>
		<p>Any data, text, images, or other audiovisual information (collectively, "Content") posted on the Service by you may be accessed by GoodCloud for troubleshooting purposes, general data aggregation for process improvements, or at your request. </p>

		<h3>Cookies</h3>

		<p>A cookie is a small amount of data, which often includes an anonymous unique identifier, which is sent to your browser from a web site's computers and stored on your computer's hard drive.</p>
		<p>Cookies are required to use the GoodCloud service.</p>
		<p>We use cookies to record current session information, but do not use permanent cookies. You are required to log-in to your GoodCloud account after a certain period of time has elapsed to protect you against others inadvertently accessing your account.</p>

		<h3>Data Storage</h3>

		<p>GoodCloud uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run GoodCloud. GoodCloud owns the code, databases, and all rights to the GoodCloud application.  You retain all rights to data you enter or import into GoodCloud.  You also agree that we may access your data for troubleshooting purposes, general data aggregation for process improvements, or at your request.</p>

		<h3>Disclosure</h3>

		<p>GoodCloud may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the Terms of Service.</p>

		<h3>Security</h3>

		<p>We restrict access to personal information collected about you at our website to our employees, our affiliates' employees, those who are otherwise specified in this Policy, or others who need to know that information to provide services to you or in the course of conducting our business operations or activities. While no website can guarantee security, we maintain appropriate physical, electronic, and procedural safeguards to protect your personal information collected via the website.  We protect our databases with various physical, technical and procedural measures and we restrict access to your information by unauthorized persons.  We also advise all GoodCloud employees about their responsibility to protect customer data and we provide them with appropriate guidelines for adhering to our company's business ethics standards and confidentiality policies.  Inside GoodCloud, data is stored in password-controlled servers with limited access.</p>
		<p>We also take strong precautions to ensure the security of your login information. However, you are responsible for ensuring the security and confidentiality of your GoodCloud usernames and passwords. If you become aware that your account has been compromised, you agree to reset your password, and contact GoodCloud to make us aware of the problem.</p>
		<p>We cannot protect, nor does this Privacy Policy apply to, any information that you transmit directly to other users. You should never transmit personal or identifying information to other users.</p>

		<h3>Children</h3>

		<p>The GoodCloud service is not intended for children under 18, and we do not knowingly collect information from children under the age of 18.
		<p>By using the GoodCloud service, you are representing that you are at least 18.

		<h3>Changes</h3>

		<p>GoodCloud may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the email address specified in your GoodCloud primary account holder account or by placing a prominent notice on our site or blog.</p>

		<h3>Questions</h3>

		<p>Any questions about this Privacy Policy should be addressed to support@agoodcloud.com or by mail at:</p>
		<p>
		GoodCloud LLC<br/>
		1434 NE 57th Ave<br/>
		Portland, OR 97213<br/>
		</p>

	</div>
	<div class="tab_content" id="copyright">
		<div class="tab_title">Please ask before borrowing.</div>
		All content is copyright GoodCloud, LLC, 2010-{% now "Y" %}.  All rights are reserved.
	</div>
</div>



{% endblock %}