{% extends "marketing_site/base.html" %}
{% load i18n %}
{% block meta_title %}Tour - watch GoodCloud in action, and hear what motivates our team!{% endblock %}
{% block description %}Watch a video interview with GoodCloud's CEO, and see how it helps nonprofits organize and run more easily!{% endblock %}
{% block page_header %}Watch it in action.{% endblock %}

{% block page_content %}
<div id="section" class=" features">
	<ul class="nav_links png_bg">
	 	<li class="ui-tabs-selected ui-state-active"><a href="{% url marketing_site:tour %}">Video Tour</a></li>
	 	<li><a href="{% url marketing_site:screenshots %}">Screenshots</a></li>
 	</ul>

	<div class="tab_content" id="video_tour">
			<div class="page_top_hook">What motivates us, and a quick look around.</div>

			<div class="tour_video">
			<iframe class="video_box" src="http://player.vimeo.com/video/23807297?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0"></iframe>
			{# <iframe class="video_box" width="640" height="390" src="https://www.youtube.com/embed/PvTsZfx2zZs?rel=0" frameborder="0" allowfullscreen></iframe> #}
			{# <img src="{% media_url "images/video-coming-soon.png" %}"/> #}
			</div>
			<p><b>Update:</b> GoodCloud has brand-new look since we recorded this video - check out the screenshots to see it! </p>

			<p>Watch the video above to see a quick interview with one of our co-founders, and a look around GoodCloud.</p>

			<p>In the tour video, we'll go through people, addresses, donations, volunteer shifts, tags, and groups - in under three minutes! Whew!  Of course if you've got more questions, you can always <a href="{% url marketing_site:contact_us %}">get in touch with us directly</a>!</p>

	</div>
	</div>	


<div class="clearfix"></div>
<a href="{% url signup %}" class="page_action png_bg">Now, try it out yourself!</a>

{% endblock %}