{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n %}

{% block meta_title %}{{ blog_post.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in blog_post.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}


{% block breadcrumb_menu %}{% endblock %}
{% block title %}{% endblock %}

{% block main %}
{% block the_blog_title %}{% endblock %}

<div class="blog_post">

<h2 class="blog-post-title">{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}</h2>
<div class="back_ribbon"><a href="{% url blog %}" >All Posts</a></div>
{% include "blog/includes/_author_and_date.html" %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filter|safe }}
{% endeditable %}
</div>


{# <div class="rating">{% rating_for blog_post %}</div> #}

<div class="share">
{% set_short_url_for blog_post %}
{% trans "Share this on" %}:
<a target=_"blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">Twitter</a>
 /
<a target=_"blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&t={{ blog_post.title|urlencode }}">Facebook</a>
</div>

<div id="comments">
{# {% if use_disqus %} #}
{% comments_for blog_post %}
{% include "generic/includes/disqus_comments.html" %}
{# {% else %} #}
{# {% comments_for blog_post %} #}
{# {% endif %} #}
</div>

{% endblock %}

{% block right_panel %}
{% keywords_for blog_post as tags %}
{% if tags %}
<h3 class="side_header">{% trans "Tags" %}</h3>
        {% for tag in tags %}
        <div class="tag"><a href="{% url blog_post_list_tag tag.slug %}"
            class="tag-weight-{{ tag.weight }}">{{ tag }}</a></div>
        {% endfor %}
{% endif %}
{{block.super}}
{% endblock %}