<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>404 Error - That page doesn't exist!</title>
	{% css "/css/main.css" %}
	{% css "/css/error_pages.css" %}
</head>
<body>
	
	<div id="error_message">
	<div class="adorable_image">
	<img src="{% media_url "images/icon-raincloud-400.png" %}" />
	</div>
	<div class="detail_box">
	<h1>Oh Dear.  Looks like we don't have that page.</h1>

	<div class="detail_text">
	Somehow, you've ended up at a page that we don't have.  If you clicked a link in GoodCloud to get here, we've been emailed about it, and will be taking a look shortly! <br/><br/>
	
	If you typed in the page address by hand, somehow it isn't quite right. Maybe zeros that look like O's, or L's that look like one's?<br/><br/>
	
	Some useful places to go from here:
	<ul>
	<li><a href="javascript:window.history.go(-1);">Back to the last page you were on</a></li>
	<li><a href="https://www.agoodcloud.com">GoodCloud Home</a></li>
	</ul>
	</div>
	</div>
	</div>
</body>
</html>
