<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>We're upgrading GoodCloud - be right back!</title>
	<link rel="stylesheet" href="https://goodcloud1.s3.amazonaws.com/css/main.css" type="text/css" media="screen" title="" charset="utf-8">
	<link rel="stylesheet" href="https://goodcloud1.s3.amazonaws.com/css/error_pages.css" type="text/css" media="screen" title="" charset="utf-8">
</head>
<body class="502">
	
	<div id="error_message">
	<div class="adorable_image">
	<img src="https://goodcloud1.s3.amazonaws.com/images/icon-suncloud-400.png" />
	</div>
	<div class="detail_box">
	<h1>We'll be right back!</h1>

	<div class="detail_text">
	<h1>We're upgrading GoodCloud right now.
	<br/>  Be back in a jiffy!</h1>
	
	</div>
	</div>
	</div>
</body>
</html>
