{% load i18n cache analytical pages_tags mezzanine_tags %}<!doctype html> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
{% block head %}
  {% analytical_head_top %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
  <meta name="description" content="{% block description %}{% block meta_description %}{% endblock %}{% endblock %}" /> 

  <meta name="author" content="GoodCloud - Software for Nonprofits">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{FAVICON_URL}}">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  {# <!--	Uncomment if you are specifically targeting less enabled mobile browsers   --> #}  {# <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2"> #}

  {% block css %}{% endblock %}
  {% block base_js %}{% js "js/base.js" %}{% endblock %}
  {% analytical_head_bottom %}
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=News+Cycle:regular&v1" rel="stylesheet" type="text/css" >


  {% if "mezzanine.blog"|is_installed %}
    <link rel="alternate" type="application/rss+xml" title="RSS" 
        href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"  
        href="{% url blog_post_feed "atom" %}" />
    {% endif %}

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    {% block extra_head %}{% endblock %}

{% endblock %}
</head>
{% block body %}<body {% block extra_body %}{% endblock %} id="{% block body_id %}{% endblock %}" env="{{ENV}}">
{% analytical_body_top %}
{% block content %}

	{% if settings.SITE_TITLE or settings.SITE_TAGLINE %}
	<div id="grid-header">
	    {% if settings.SITE_TITLE %}
	    <h1>{{ settings.SITE_TITLE }}</h1>
	    {% endif %}
	    {% if settings.SITE_TAGLINE %}
	    <h2>{{ settings.SITE_TAGLINE }}</h2>
	    {% endif %}
	</div>
	{% endif %}

	<div id="grid-top">
	    {% page_menu "pages/menus/primary.html" %}
	</div>

	<div class="container_12 clearfix">

	    <div id="grid-left" class="grid_3 grid">
	        {% page_menu "pages/menus/tree.html" %}
	    </div>

	    <div id="grid-middle" class="grid_6 grid">
	        <div class="gutter">
	            <h1>{% block title %}{% endblock %}</h1>
	            <div id="breadcrumb-menu">
	                {% block breadcrumb_menu %}
	                    {% page_menu "pages/menus/breadcrumb.html" %}
	                {% endblock %}
	            </div>
	            {% block main %}{% endblock %}
	        </div>
	    </div>

	    <div id="grid-right" class="grid_3 grid">
	        {% include "includes/search.html" %}
	        {% block right_panel %}
	            {% if "mezzanine.twitter"|is_installed %}
	            {% include "twitter/tweets.html" %}
	            {% endif %}
	        {% endblock %}
	        <p class="mezzanine">
	            {% trans "Powered by" %} 
	            <a href="http://mezzanine.jupo.org">Mezzanine</a><br />
	            <a href="{% url set_device "mobile" %}?next={{ request.path }}">
	                {% trans "View Mobile Site." %}
	            </a>
	        </p>
	    </div>

	</div>

	<div id="grid-bottom">
	    <div class="container_12 clearfix">
	        <div class="grid_3">&nbsp;</div>
	        <div class="grid_6 push_3 grid">
	            {% page_menu "pages/menus/footer.html" %}
	        </div>
	    </div>
	</div>

	{% include "includes/footer_scripts.html" %}

{% endblock %}
{% analytical_body_bottom %}
{% block javascript %}
<!--[if lt IE 7 ]>
  {% js "js/lib/dd_belatedpng.js" %}
  <script>DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->
{% endblock %}
</body>
{% endblock %}
</html>