{% load i18n cache analytical %}<!doctype html> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
{% block head %}
  {% analytical_head_top %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="GoodCloud - Software for Nonprofits">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{FAVICON_URL}}">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  {# <!--	Uncomment if you are specifically targeting less enabled mobile browsers   --> #}  {# <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2"> #}

  {% block css %}{% endblock %}
  {% block base_js %}{% js "js/base.js" %}{% endblock %}
  {% analytical_head_bottom %}
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=News+Cycle:regular&v1" rel="stylesheet" type="text/css" >
{% endblock %}
</head>
{% block body %}<body {% block extra_body %}{% endblock %} env="{{ENV}}">
{% analytical_body_top %}
{% block content %}

{% endblock %}
{% analytical_body_bottom %}
{% block javascript %}
<!--[if lt IE 7 ]>
  {% js "js/lib/dd_belatedpng.js" %}
  <script>DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->
{% endblock %}
</body>
{% endblock %}
</html>